In [39]:
# Libraries
import pandas as pd
from IPython.display import HTML

# Questions I'm Trying to Answer
- Overpaying for rarity
- Who owns the most
- Biggest winning trades and losing trades

In [3]:
# Import Sales Data
sales = pd.read_csv("sales_0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D_04302022.csv")
sales.head()

,transaction_hash,block_number,date,asset_id,seller,buyer,maker,taker,sale_price_eth,sale_price_usd
0,0xb235f0321b0b50198399ec7f2bb759ef625f85673b4d...,14675897,2022-04-28,7438,0x2fdcca65899346af3a93a8daa6128bdbcb1ce3b3,0xcedf17dfafa947cd0e205fe2a3a183cf2fb3a0bc,0x2fdcca65899346af3a93a8daa6128bdbcb1ce3b3,0xcedf17dfafa947cd0e205fe2a3a183cf2fb3a0bc,153.200,442685.528567
1,0x1cf83a120540049239c62de9aa6cbc42bae7494cdf02...,14675814,2022-04-28,1397,0xcedf17dfafa947cd0e205fe2a3a183cf2fb3a0bc,0x93d1f7636f56dd4498c778e212cbe3e2e15bcba9,0xcedf17dfafa947cd0e205fe2a3a183cf2fb3a0bc,0x93d1f7636f56dd4498c778e212cbe3e2e15bcba9,139.750,403820.513167
2,0xf9854d2f02c074f1a2043bc93c5e4e6e4e922e6908a8...,14675812,2022-04-28,5226,0x40c839b831c90173dc7fbce49a25274a4688ddd9,0xd30cad3f023888d5a81580fbb80f93102d69e9ef,0x40c839b831c90173dc7fbce49a25274a4688ddd9,0x00000000a50bb64b4bbeceb18715748dface08af,150.000,433438.833453
3,0x38c03f0e17422b62f450262e2931a86efa201d3c22e9...,14675760,2022-04-28,6498,0x83e7fc69d7c99943afd9122ad0f8bb575e00597c,0x8dd47e819c53138aa18f8651d797e7969f34d1f1,0x83e7fc69d7c99943afd9122ad0f8bb575e00597c,0x8dd47e819c53138aa18f8651d797e7969f34d1f1,145.678,420950.015866
4,0x85ec6a319062f3537420ba60342ff273bbad907bfd9d...,14675332,2022-04-28,8028,0xe87cc2ea916a7d471976b675d5f72302908e4590,0x98bea99727b297f5eca448d1640075f349c08547,0xe87cc2ea916a7d471976b675d5f72302908e4590,0x98bea99727b297f5eca448d1640075f349c08547,128.000,369867.804547

In [7]:
# Import Meta Data
metadata = pd.read_csv("metadata_0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D_04302022.csv")
metadata.head()

,asset_id,attribute_count,attribute_count_rarity_score,Hat_attribute,Hat_rarity_score,Background_attribute,Background_rarity_score,Clothes_attribute,Clothes_rarity_score,Mouth_attribute,Mouth_rarity_score,Fur_attribute,Fur_rarity_score,Eyes_attribute,Eyes_rarity_score,Earring_attribute,Earring_rarity_score,overall_rarity_score
0,0,6,1.878640,NaN,4.432624,Orange,7.855460,Striped Tee,24.271845,Discomfort,48.076923,Robot,37.735849,X Eyes,41.152263,Silver Hoop,11.337868,176.741472
1,1,5,3.937008,NaN,4.432624,Orange,7.855460,Vietnam Jacket,44.642857,Grin,14.025245,Robot,37.735849,Blue Beams,204.081633,NaN,1.423893,318.134569
2,2,5,3.937008,Sea Captain's Hat,32.894737,Aquamarine,7.898894,NaN,5.302227,Bored Cigarette,14.084507,Robot,37.735849,3d,20.533881,NaN,1.423893,123.810996
3,3,5,3.937008,NaN,4.432624,Purple,7.745933,Bone Necklace,49.261084,Tongue Out,49.504950,Cheetah,24.630542,Bored,5.834306,NaN,1.423893,146.770340
4,4,6,1.878640,Party Hat 2,93.457944,Blue,8.051530,Navy Striped Tee,29.940120,Phoneme L,41.493776,Golden Brown,12.853470,Closed,14.084507,NaN,1.423893,203.183880

In [8]:
# Import Transfer Data
transfers = pd.read_csv("transfers_0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D_04302022.csv")
transfers.head()

,transaction_hash,block_number,date,asset_id,from_address,to_address
0,0x76b6196f390319fc3c0153bccb82c6e3667298a70d55...,14675899,2022-04-28,5037,0xff389e55ee4dd64d82b2b6fefef3f7aa63b218fd,0x3b968d2d299b895a5fcf3bba7a64ad0f566e6f88
1,0x76b6196f390319fc3c0153bccb82c6e3667298a70d55...,14675899,2022-04-28,5037,0x5f6ac80cdb9e87f3cfa6a90e5140b9a16a361d5c,0xdbfd76af2157dc15ee4e57f3f942bb45ba84af24
2,0x76b6196f390319fc3c0153bccb82c6e3667298a70d55...,14675899,2022-04-28,5037,0x3b968d2d299b895a5fcf3bba7a64ad0f566e6f88,0x70b97a0da65c15dfb0ffa02aee6fa36e507c2762
3,0x76b6196f390319fc3c0153bccb82c6e3667298a70d55...,14675899,2022-04-28,5037,0x70b97a0da65c15dfb0ffa02aee6fa36e507c2762,0x5f6ac80cdb9e87f3cfa6a90e5140b9a16a361d5c
4,0xb235f0321b0b50198399ec7f2bb759ef625f85673b4d...,14675897,2022-04-28,7438,0x2fdcca65899346af3a93a8daa6128bdbcb1ce3b3,0xcedf17dfafa947cd0e205fe2a3a183cf2fb3a0bc

# Overpaying For Rarity

In [46]:
# Join The sales and the meta data
sales_with_meta = sales.join(metadata, on = "asset_id",  lsuffix="_left", rsuffix="_right")

# Take the sales price and divde the rarity to create a $/ rarity score
# The higher the money, and lower rarity = higher score, which means a low value deal
sales_with_meta['$/Rarity'] = sales_with_meta["sale_price_usd"]/sales_with_meta["overall_rarity_score"]

# Create link to OpenSea page
base_url = "https://opensea.io/assets/ethereum/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d/"
sales_with_meta['url'] =  base_url + sales_with_meta['asset_id_left'].astype(str)

# Top 10 lowest values
important_columns = ['$/Rarity','asset_id_left',"sale_price_usd","overall_rarity_score", 'date','buyer', 'url']
top_10 = sales_with_meta[important_columns].sort_values(['$/Rarity'],ascending=False)[0:10] 

#Show Table
HTML(top_10.to_html(render_links=True, escape=False))